
   .color-button {
    padding: 10px 20px;
    border:  1px solid rgb(0,0,0);
    cursor: pointer;
  }
  
  .green {
    background-color: green;
    color: white;
  }
  
  .red {
    background-color: red;
    color: white;
  }
  
.buttonposition{
  position: relative;
  top: 25px;
  right: -5px;
}